/* Moderm Round8 UI v1.0 */

.card {
    background: linear-gradient(#000000da, #aa0000dd);
    width: 300px;
    height: 200px;

    padding: 5px 10px;

    border-radius: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-align: left;

    box-shadow: 5px 5px 10px #56000096;

    margin: 5px;
}

.card h1 {
    width: 100%;

    font-size: 16pt;
    font-weight: 600;
    color: #eee;
    text-align: right;
}

.card #cardNumber {
    width: 100%;
    font-size: 22px;
    color: #ffffff;

    font-weight: 700;
}

.card #validade {
    width: 100%;
    font-size: 15px;
    color: #ffffff;
}

.card #user {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
}

/* Botão de remover */
.card button {
    position: absolute;
    right: 0px;
    top: 0px;
    
    padding: 3px 5px;

    background-color: #eee;
    width: 75px;
    height: 24px;

    color: #e60f28;
    font-family: Poppins;
    font-size: 10pt;
    font-weight: 400;
    text-align: center;

    border-radius: 0 8px 0 8px;
    border: none;

    transition: 0.125s;
    cursor: pointer;
}.card button:hover {
    width: 80px;
    border-radius: 0 8px 0 8px;
    background-color:#e60f28;

    font-weight: 500;
    color: #eee;

}.card button:active {
    background-color:#ff6464;
}