#cardinfos {
    visibility: hidden;
    position: absolute;

    background-color: #000;
    width: 100%;
    height: 100vh;

    top: 0;
    z-index: 5;

    display: flex;
    justify-content: center;
}

#form {
    position: relative;
    background-color: #fff;
    color: #000;

    width: 330px;
    height: 650px;

    padding: 3px 10px;

    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    top: 50%;
    transform: translateY(-50%);
}

#form #buttons {
    width: 100%; 
}

#form #buttons button {
    border-radius: 50px;
    border: 0;

    width: 100%;
    height: 45px;

    margin: 3px 0;

    font-size: 14pt;

    background-color: #778899;
    color: #fff;

    cursor: pointer;
}

label {
    font-size: 16px;
}

.cardForm {
    width: 100%;
}

.card_number_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card_number_container input {
    width: 65px !important;
}

.cardForm input {
    border-radius: 50px;
    border: 0;
    width: 100%;
    height: 45px;
    background-color: #456;

    margin-bottom: 10px;

    font-size: 14pt;
    color: #fff;
    text-align: center;
}

.cardForm #mouth-value, #year-value {
    background-color: #456;
    width: 65px;
    height: 45px;

    border: 1px solid #eee;
}

#errors {
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);


    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #567;
    width: 300px;
    min-height: 200px;

    padding: 5px;
    margin: 5px;

    border-radius: 5px;
    border: 2px solid red;

    font-size: 10pt;
    color: #fff;
} #errors::before{
    color: red;
    content: '!';

    width: 30px;
    height: 30px;
    height: 30x;

    padding: 2px;

    border: 3px solid rgba(255, 0, 0, 0.75);
    border-radius: 50%;

    font-size: 26px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
#errors button {
    background-color: #ff0000;
    border: 0;

    width: 75%;
    height: 35px;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: 0.02s;
}#errors button:hover{
    background-color: #dedede;
    color: #f00;
}